*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    justify-content: center;
    display: flex;
    margin-top: 100px;
    background:linear-gradient(135deg,rgb(45, 45, 150),rgb(80, 47, 170));
}
.container{
    min-width:540px ;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 0px 18px;
}

.todoapp{
    padding: 20px;
}
.todoapp h2{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(52, 52, 212);
    gap: 10px;
}
.todoapp img{
    height: 30px;
}
.task{
    padding: 1px;
    align-items: center;
    display: flex;
    border-radius: 30px;
    background-color:#eee;
    margin-bottom: 20px;
}
#input-task{
    height: 50px;
    flex: 1;
    padding: 0px 15px;
    background: transparent;
border: none;  
outline: none;  
font-size: 16px;
}
.btn{
    height: 50px;
    width: 120px;
    border-radius: 25px;
    color: white;
    background-color: rgb(244, 88, 32);
    border: none;
    cursor: pointer;
}
#input-task::placeholder{
    font-size: 16px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    position: relative;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    background-image: url(../unchecked.png);
    position: absolute;
    content: '';
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 8px;
    top: 8px;
}
ul li.checked{
    color:#555 ;
    text-decoration: line-through;
    
}
ul li.checked::before{
    background-image: url(../checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    border-radius: 50%;
    line-height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
ul li span:hover{
    background-color: #eee;
}